.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-image-1 {width: 570px; height: 806px; margin: 51px auto 0 -19px}
.u-section-1 .u-image-2 {width: 570px; height: 806px; margin: -806px auto 60px 589px} 

@media (max-width: 1199px){ .u-section-1 .u-image-2 {margin-left: 370px} }

@media (max-width: 991px){ .u-section-1 .u-image-2 {margin-left: 150px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 458px}
.u-section-1 .u-image-1 {width: 540px; height: 764px; margin-left: 0}
.u-section-1 .u-image-2 {width: 540px; height: 764px; margin-top: -764px; margin-left: 0} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 175px}
.u-section-1 .u-image-1 {width: 340px; height: 481px}
.u-section-1 .u-image-2 {width: 340px; height: 481px; margin-top: -481px} }